html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home Page
  body
    h1 Welcome to Node.js Tutorial
 

    // Form to submit data
    form(action="/create-post" method="post")
      label(for="title") Title:
      input(type="text" name="title")
      br
      label(for="content") Content:
      input(type="text" name="content")
      br
      input(type="submit" value="Submit")
      hr
   
   
      
