doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title 
    body
        h1= h1 
        form(action="/create-post", method="post")
            input(type="text" name="title")
            input(type="text" name="content")
            input(type="submit" value="submit")
        br
        if query1 && query2
            p title=#{query1}&amp;content=#{query2}