<!DOCTYPE html>
<html>
<head>
    <title>HW3 Refactored</title>
</head>
<body>
<h1>Results</h1>
<% if (data) { %>
    <% data.forEach(item => { %>
        <p><%= item %></p>
    <% }); %>
<% } %>
</body>
</html>
