doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        title User Login
    body
        form(action="create-post", method="post")
            label(for="name") Name: 
            input(type="text", name="name", value = person)
            br
            label(for="email") Email: 
            input(type="text", name="email", value = contact)
            br
            input(type="submit",value="Create User")


