  .dropdown-container {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
  }
  
  .color-grid {
    border: 1px solid grey;
    padding: 10px 10px 120px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;

  }
  