.phone-screen {
    width: 375px;
    height: 667px;
    border-radius: 40px;
    position: relative;
    margin: 20px auto;
    border: 2px solid black;
  }

  .btn-container{
    margin-top:80px;
    margin-left:20px;
    margin-right:20px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: rgb(72, 142, 213);
   
  }
  
  .bar-container{
    display: flex;
    border: 1px dashed orange;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
  }
  .btn-custom {
    font-weight: bold;
    font-size: x-large;
    width: 60px;
    background-color: #ffffff;
   
  }
  
  

  