<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
</head>
<body>
<%- include('partials/header') %>

<div class="container">
    <%- body %>
</div>

<%- include('partials/footer') %>
</body>
</html>
