<form action="/todos" method="POST">
    <input type="text" name="title" placeholder="Title">
    <textarea name="description" placeholder="Description"></textarea>
    <input type="date" name="dueDate">
    <button type="submit">Add Todo</button>
</form>
