body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 600px;
}

.title {
    text-align: center;
    font-size: 2em;
}

.textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em
}

.textbox-label {
    float: left;
}

.textbox-input {
    float: left;
    margin: 10px;
}


.textbox-button {
    float: right;
    /* margin-left: 10px; */
}

.todoList {
    margin-top: 20px;
}