body{
    width: 100vw;
    /* display: flex;
    justify-content: center; */
    justify-content: center;
}
.todo{
    width: 100%;
    border: 1px solid black;
    /* display: flex;
    justify-content: center; */
}
.todo-list{
 width: 80%;

}
.todo-app{
    width: 80%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    line-height:2em;

}
.todo-input-bar{
    width: 100%
}
.remain-clear{
    display:flex;
    align-items: center;

}
.clear-button{
    height: 20px;
    margin-left: 5px;
}