#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container {
  display: flex;
  flex:1
}
.container-new {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 100% viewport height */
}
.container-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.container-ul{
  /* width: 100%; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  
}
.header-container {
  display: flex;
}
ul{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* height: 100%; */
  padding: 0;
  margin: 0; 
  list-style: none;
  
  /* display: flex; */
}

li{
  float: left;
  display: flex;
  color: blue;
  text-align: center;
  align-items: stretch;
  padding: 9px;
  text-decoration: none;
  background-color: yellow;
}
aside{
  width: 25%;
  display: flex;
  padding-left: 15px;
  margin-left: 1px;
  font-style: normal;
  background-color: rgb(13, 113, 163);
  align-items: center;
  justify-content: center;
}

section{
  width: 80%;
  display: flex;
  padding-left: 15px;
  margin-left: 1px;
  font-style: normal;
  background-color: rgb(157, 5, 76);
  align-items: center;
  justify-content: center;
}

footer{
  background-color: black;
  display: flex;
  justify-content: center;
}