// views/index.pug
html
  head
    title Todo List App
  body
    h1 Todo List
    ul
      each task in tasks
        li= task.title
          if task.completed
            span.completed Completed
          else
            span.pending Pending
    form(action='/tasks', method='post')
      label(for='title') Task Title:
      input(type='text', name='title', required)
      label(for='description') Description:
      input(type='text', name='description', required)
      button(type='submit') Add Task
